<h1>Componente usuario</h1>
<h3>{{ miNombre }}</h3>
<input type="text"
       placeholder="Escribe tu nombre"
       [ngClass]="{'placeholder-custom': setPlaceholder()}"
       [(ngModel)]="miNombre">

<button
  (click)="agregarNombre(miNombre)"
  [disabled]="!isDisabled">Presioname</button>
<br>

<div *ngFor="let nombre of nombres" id="nombres">
  <label for="nombres">{{ nombre }}</label>
</div>

<div *ngIf="miNombre === 'Larry'; then saludoLarry else saludoOtro"></div>
<ng-template #saludoLarry>
  <label>{{ miSaludo }}</label>
</ng-template>
<ng-template #saludoOtro>
  <label>{{ 'No eres Larry, hola: ' + miNombre }}</label>
</ng-template>
